.App {
  text-align: center;
  background-color: #1f1e17;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.form {
  margin-inline: 1vmin !important ;
}
